
   /* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }

body {
    background-image: url("../image/concrete-texture.png");
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

ul {margin:0; padding:0; list-style-type: none; margin-left: 60px;}
ul li {padding:0px; }
ul li a {font-size:16px; text-decoration: none; color: #666666;}

nav {
font-family: Georgia, "Times New Roman", Times, serif; 
border-bottom: solid 1px lightgray;  
height: 72px;  


}  

hr {
    clear: both;
    overflow: auto;
}

h3 {
 padding: 0px;
}

.navbar-brand h1 {
  position: fluid;
    background: #4aaaa5;
    color: #ffffff;
    margin-left: 335px;
    height: 78px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 330px;
   
}


.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
.container {
    clear: both;
    margin-top: 60px;
 }
 
 .bio-heading {
     color: #4aaaa5;
 }
 
 #bio {
   padding: 20px;  
   margin:auto;
   width: 960px;
   background-color: #ffffff;
 }
 
 #bio-image {
     width: 200px;
     height: 200px;
     margin-right: 21px;
     float: left;
 }
 

/* ------------------------------ */
input:focus { 
  outline: none !important;
  border-color: #4aaaa5;
  box-shadow: 0 0 10px #719ECE;
}

textarea:focus { 
  outline: none !important;
  border-color: #4aaaa5;
  box-shadow: 0 0 10px #719ECE;
}

 input[type=text],
 input[type=email] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
 }

 .comments {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

 button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* -------------------------------------------- */
.box {
  position: relative;
  float: left;
  margin: 10px;
  height: 100px;
  width: 33.3%;
}

.banner {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-color: #4aaaa5;
  z-index: 1000;
  text-align: center;
}


.image-1 {
  float: left;
  position: relative;
  width: 66.6%;
  height: 200px;
  margin-right: 21px;
  float: left;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 16px;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 40px; /* Vertically center the text there */

    /*font-size: 12px;*/
    background-color: #666666;
    border-top: solid 6px #4aaaa5;
}
li :hover {
  color: #4aaaa5;
} 
 
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
   .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /*

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap


/* Small devices (landscape phones, 576px and up) */
@media(max-width: 576px) {

.navbar-brand h1 {
        position: fluid;
        background-color: #4aaaa5;
        margin-left: 0px; 
        padding: 0px; 
        margin-left: -150px;
        /* width: 332px; */
      
       
  }
  .image-1 {
    width: 34.3%;
  }

} 
    
/*  Medium devices (tablets, 768px and up) */
  @media(min-width: 768px) {

    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }

    .navbar-brand h1 {
        position: fluid;
        background-color: #4aaaa5;
        margin-left: 0px;
       
    }
  } 
   
  /* Large devices (desktops, 992px and up) */
  @media(min-width: 992px) {
    .navbar-brand h1 {
    position: fluid;
    background: #4aaaa5;
    width: 330px;
    margin-left: 90px;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media(min-width: 1200px) {
    .navbar-brand h1 {
        position: fluid;
        background: #4aaaa5;
        color: #ffffff;
        margin-left: 335px;
        height: 78px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 330px;
       
    }
  }

